/************************************************** 
 * 
 *  Normalize:
 *   only include a tid bit of it....
 *  
 **************************************************/

/* Variables */
$width: 700px;




* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  

}

h1, h2, h3 
{
  font-weight: normal; 
}


header {
  //position
  top: 0;
  float: left;
  width: 100%;

  padding: 5px;

  //color
  background-color: #5A9C78;
  color: #FFFFFF;

  section {
    margin: 0 auto;
    width: $width;

    h1 {
      float: left;
      
      a {
        color: #FFFFFF;
        text-decoration: none;

      }
    }
    nav {
      float: right;
        margin-top: 6px;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

}

section.main {
  margin: 0 auto;
  width: $width;
  
  padding: 50px;

  color: #333
}  
h2 {
  float: left;
  margin: 20px 0 20px 0;

  color: #E8EBEF;
}


article {
  float: left;
  width: 100%;
  padding: 25px;

  background-color: #E8EBEF;
  @include border-radius(5px);

  span {
    margin: 14px 0 0 0;
    float: left;
    clear: both;
  }
  p {
    float: right;
    width: 92%;
    margin-top: 13px;  
  }
  p.last {
    margin-top: 22px;
  }
}

article.contact {
  p {
    width: 98%;
  }
  a {
    color: #57A837;
  }
}


footer {
  margin: 0 auto;
  width: $width;

  color: #E8EBEF;

  p {
    float: left;
    margin: 10px 0 0 5px;
    font-size: 14px;
    
    a {
      color: #57A837;
    }
  }
}

